{% extends './index.html' %}
{% block content%}
<style>
    img{
        width: 100px;
    }
    .starter-template{
        text-align: left;
    }
</style>
{% load static%}
    <div class="starter-template">
        <p>
            이 사이트는 다음과 같은 책에 기인하여 만들어진 사이트입니다.&nbsp;
            <img src="{% static 'img/부의추월차선.jpeg' %}" alt="부의 추월차선(엠제이 드마코 지음)">
            <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=7290748" target="_blank">>>책 자세히 보기</a>
        </p><br>
        <p>
            <h3>Motivation</h3>자기가 생각하는 성공에 도달한 사람은 자신의 성공 스토리를 많은 사람들에게 알려 동기부여를 주고 진심 어린 축하를 받고
            <br>도달하지 못한 사람은 동기부여를 받고 서로 화이팅할 수 있는 카테고리입니다. 
        </p><br>
        <p>
            <h3>Idea & Advice</h3>자신의 기발한 아이디어를 공유해서 팀원을 찾거나 조언을 얻을 수 있는 카테고리입니다.
        </p><br>
        <p>
            <h3>Feedback</h3>이 사이트의 부족한 점이나 필요한 점을 적는 카테고리입니다.
        </p><br>
        <p>
            <h3>랭킹 제도</h3>자신이 쓴 글이나 댓글에 달린 좋아요 개수에 비례하여 랭킹이 상승합니다.
            <div style="border:solid 5px pink; padding:15px;">
                <p>
                    <strong>혁신가</strong>
                    <span>: 좋아요 개수 20개 이상</span>
                </p>
                <p>
                    <strong>꿈나무</strong>
                    <span>: 좋아요 개수 0~19개</span>
                </p>  
            </div>
        </p>
    </div>
<script>
    $('#about').addClass("active");
</script>
{%endblock %}
