{% extends './index.html' %}
{% block content%}
<style>
    .col-md-3 h5{
        color:deepskyblue;
    }
</style>
<div class="row mb-3" style="margin-top: 2rem;">
    <div class="col-md-3 themed-grid-col">
        <a href="{%url 'board:about_user' %}"><h5>내정보</h5></a><br>
        <a href="{%url 'board:user_update' %}"><h5>정보 수정</h5></a><br>
        <a href="{%url 'board:user_idea' %}"><h5>내가 쓴 글</h5></a><br>
        <a href="{%url 'board:user_likes' %}"><h5>내가 누른 좋아요</h5></a><br>
    </div>
    <div class="col-md-9 themed-grid-col text-center">
    {% block article%}
        <h5>현재 랭킹 : {{user.thinker_status}}</h5><br>
        <h5>이메일 : {{user.email}}</h5>
    {%endblock %}
    </div>
    </div>
<script>
    $('#mypage').addClass("active");
</script>
{%endblock %}

   