{% extends './index.html' %}
{% block content%}
    <p></p>
    <p style="text-align: center;"><a href="{% url 'board:idea_new' %}"><input type="button" value="글쓰기"></a></p>
  
    {% for post in form %}
 
    <div class="container themed-container">
        <a href="{% url 'board:idea_edit' post.pk %}"><h5>{{post.title}}</h5></a>
        <h6>작성자 : {{post.author}}</h6>
        {%if user in post.likes.all%}
        <input type="button" id="button{{post.pk}}" name="{{post.pk}}" value="좋아요" style="color:red">
        {%else%}
        <input type="button" id="button{{post.pk}}" name="{{post.pk}}" value="좋아요" >
        {%endif%}

        <span id="count{{post.pk}}">&nbsp;{{post.total_likes}}명</span>
    </div>
  
    {%endfor%}
    <script>
        $('#idea').addClass("active");
    </script>
    <script>
        $('div input[type=button]').click(function(){
            var pk=$(this).attr('name')
            $.ajax({
                type:"post",
                url:"{% url 'board:likes_process' %}",
                data: {'pk':pk,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                dataType:"json",
                success:function(response){
                    $('#count'+pk).html('&nbsp;'+response.message);
                    if(response.flag==true){
                        $('#button'+pk).css('color','red');
                    }
                    else{
                        $('#button'+pk).css('color','black');     
                    }
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        })
     </script>
{%endblock %}