{% extends './index.html' %}
{% block content%}
<div class="container">
        <h2 style="margin-top: 2rem;">글쓰기</h2>
        <hr>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" class="btn btn-dark" value="저장">
            {%if post%}
            <a href="{% url 'board:idea_delete' post.pk %}"><input type="button" class="btn btn-dark" value="삭제" style="margin-left: 0.5rem;"></a>
            {%endif%}
        </form>
    </div>
{%endblock %}